.dir12 {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.dir12:link {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.dir12:hover {
	FONT-SIZE: 12px; COLOR: #b22220; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.menu12 {
	FONT-SIZE: 12px; COLOR: #8a1414; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.menu12:link {
	FONT-SIZE: 12px; COLOR: #b22220; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.menu12:hover {
	FONT-SIZE: 12px; COLOR: #b22220; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.txt12l20 {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 20px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.txt12l20:link {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 20px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.txt12l20:visited {
	FONT-SIZE: 12px; COLOR: #636363; LINE-HEIGHT: 20px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.txt12l20:hover {
	FONT-SIZE: 12px; COLOR: #b22220; LINE-HEIGHT: 20px; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.txtbox12 {
	BORDER-RIGHT: #bababa 1px solid; BORDER-TOP: #bababa 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #bababa 1px solid; COLOR: #000000; BORDER-BOTTOM: #bababa 1px solid; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.data12 {
	FONT-SIZE: 12px; COLOR: #a37d32; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.rm14b {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #333333; FONT-FAMILY: "宋体"; LETTER-SPACING: 0.1em; TEXT-DECORATION: none
}
.rm12b {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 18px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.rm12b:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 18px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.rm12b:unknown {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #636363; LINE-HEIGHT: 18px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.rm12b:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #b22220; LINE-HEIGHT: 18px; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.rm12c {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 18px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.rm12c:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 18px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.rm12c:unknown {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 18px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.rm12c:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 18px; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.txt14l24 {
	FONT-SIZE: 14px; COLOR: #333333; LINE-HEIGHT: 24px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.txt14l24:link {
	FONT-SIZE: 14px; COLOR: #333333; LINE-HEIGHT: 24px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.txt14l24:hover {
	FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 24px; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.txt14l24:visited {
	FONT-SIZE: 14px; COLOR: #7c7477; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.t12l18 {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 18px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.t12l18:link {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 18px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.t12l18:hover {
	FONT-SIZE: 12px; COLOR: #cc3300; LINE-HEIGHT: 18px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.txt14l20 {
	FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 20px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.txt14l20:link {
	FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 20px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.txt14l20:visited {
	FONT-SIZE: 14px; COLOR: #636363; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.txt14l20:hover {
	FONT-SIZE: 14px; COLOR: #b22220; LINE-HEIGHT: 20px; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.lmenu12ghjh {
	FONT-SIZE: 12px; COLOR: #3067a7; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmenu12ghjh:link {
	FONT-SIZE: 12px; COLOR: #3067a7; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmenu12ghjh:visited {
	FONT-SIZE: 12px; COLOR: #636363; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmenu12ghjh:hover {
	FONT-SIZE: 12px; COLOR: #b22220; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.lmenu12zcfg {
	FONT-SIZE: 12px; COLOR: #825a18; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmenu12zcfg:link {
	FONT-SIZE: 12px; COLOR: #825a18; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmenu12zcfg:visited {
	FONT-SIZE: 12px; COLOR: #636363; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmenu12zcfg:hover {
	FONT-SIZE: 12px; COLOR: #b22220; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.lmenu12xztz {
	FONT-SIZE: 12px; COLOR: #93482b; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmenu12xztz:link {
	FONT-SIZE: 12px; COLOR: #93482b; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmenu12xztz:visited {
	FONT-SIZE: 12px; COLOR: #636363; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmenu12xztz:hover {
	FONT-SIZE: 12px; COLOR: #b22220; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.lmenu12kjbz {
	FONT-SIZE: 12px; COLOR: #1f71a1; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmenu12kjbz:link {
	FONT-SIZE: 12px; COLOR: #1f71a1; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmenu12kjbz:visited {
	FONT-SIZE: 12px; COLOR: #636363; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmenu12kjbz:hover {
	FONT-SIZE: 12px; COLOR: #b22220; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.lmenu12wrkz {
	FONT-SIZE: 12px; COLOR: #932973; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmenu12wrkz:link {
	FONT-SIZE: 12px; COLOR: #932973; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmenu12wrkz:visited {
	FONT-SIZE: 12px; COLOR: #636363; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmenu12wrkz:hover {
	FONT-SIZE: 12px; COLOR: #b22220; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.lmenu12zrst {
	FONT-SIZE: 12px; COLOR: #1c5600; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmenu12zrst:link {
	FONT-SIZE: 12px; COLOR: #1c5600; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmenu12zrst:visited {
	FONT-SIZE: 12px; COLOR: #636363; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmenu12zrst:hover {
	FONT-SIZE: 12px; COLOR: #b22220; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.lmenu12haq {
	FONT-SIZE: 12px; COLOR: #525b0f; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmenu12haq:link {
	FONT-SIZE: 12px; COLOR: #525b0f; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmenu12haq:visited {
	FONT-SIZE: 12px; COLOR: #636363; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmenu12haq:hover {
	FONT-SIZE: 12px; COLOR: #b22220; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.lmenu12hjpj {
	FONT-SIZE: 12px; COLOR: #565200; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmenu12hjpj:link {
	FONT-SIZE: 12px; COLOR: #565200; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmenu12hjpj:visited {
	FONT-SIZE: 12px; COLOR: #636363; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmenu12hjpj:hover {
	FONT-SIZE: 12px; COLOR: #b22220; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.lmenu12hjjc {
	FONT-SIZE: 12px; COLOR: #186265; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmenu12hjjc:link {
	FONT-SIZE: 12px; COLOR: #186265; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmenu12hjjc:visited {
	FONT-SIZE: 12px; COLOR: #636363; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmenu12hjjc:hover {
	FONT-SIZE: 12px; COLOR: #b22220; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.lmenu12gjhz {
	FONT-SIZE: 12px; COLOR: #534054; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmenu12gjhz:link {
	FONT-SIZE: 12px; COLOR: #534054; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmenu12gjhz:visited {
	FONT-SIZE: 12px; COLOR: #636363; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmenu12gjhz:hover {
	FONT-SIZE: 12px; COLOR: #b22220; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.lmenu12xcjy {
	FONT-SIZE: 12px; COLOR: #0f671d; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmenu12xcjy:link {
	FONT-SIZE: 12px; COLOR: #0f671d; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmenu12xcjy:visited {
	FONT-SIZE: 12px; COLOR: #636363; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmenu12xcjy:hover {
	FONT-SIZE: 12px; COLOR: #b22220; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.lmenu12dflz {
	FONT-SIZE: 12px; COLOR: #631680; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmenu12dflz:link {
	FONT-SIZE: 12px; COLOR: #631680; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmenu12dflz:visited {
	FONT-SIZE: 12px; COLOR: #636363; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmenu12dflz:hover {
	FONT-SIZE: 12px; COLOR: #b22220; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.om12 {
	FONT-SIZE: 12px; COLOR: #8a1414; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.om12:link {
	FONT-SIZE: 12px; COLOR: #8a1414; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.om12:hover {
	FONT-SIZE: 12px; COLOR: #b22220; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.menutop {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.menutop:link {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.menutop:hover {
	FONT-SIZE: 12px; COLOR: #ffff66; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.lmb1zrst {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #0b6b0c; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmb1zrst:link {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #0b6b0c; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmb1zrst:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #b22220; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.lmb1hjjc {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #2d676b; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmb1hjjc:link {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #2d676b; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmb1hjjc:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #b22220; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.lmb1hjpj {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #86810f; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmb1hjpj:link {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #86810f; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmb1hjpj:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #b22220; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.lmb1kjbz {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmb1kjbz:link {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmb1kjbz:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #ffff00; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.lmb1zcfg {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #975e00; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmb1zcfg:link {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #975e00; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmb1zcfg:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #b22220; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.lmb1ghjh {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #016ecb; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmb1ghjh:link {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #016ecb; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmb1ghjh:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #b22220; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.lmb1ghjh1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #016ecb; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmb1ghjh1:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #016ecb; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmb1ghjh1:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #b22220; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.lmb1zwxx {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #ba281f; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmb1zwxx:link {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #ba281f; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.lmb1zwxx:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #b22220; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.f14_0098 {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
.f14_0098 A:link {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
.f14_0098 A:visited {
	FONT-SIZE: 12px; COLOR: #636363; TEXT-DECORATION: none
}
.f14_0098 A:hover {
	FONT-SIZE: 12px; COLOR: #b22220; TEXT-DECORATION: underline
}
.f15_0098 {
	FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
.f15_0098 A:link {
	FONT-SIZE: 14px; COLOR: #000000; TEXT-DECORATION: none
}
.f15_0098 A:visited {
	FONT-SIZE: 14px; COLOR: #636363; TEXT-DECORATION: none
}
.f15_0098 A:hover {
	FONT-SIZE: 14px; COLOR: #b22220; TEXT-DECORATION: underline
}
